пройди опрос!
<form action="#" method="post">
    <p>Выбери картинку</p>
    <label>
          <input name="pic" type="radio" value="зонтик">
          <img height="140" src="https://png.pngtree.com/png-clipart/20190904/original/pngtree-red-umbrella-cartoon-material-free-download-png-image_4485885.jpg" width="150">
    </label>
     <p></p>
    <label>
          <input name="pic" type="radio" value="цветы">
          <img height="140" src="https://assets.moomin.com/uploads/2017/02/Moomin-flowers.png" width="170">
    </label>
     <p></p>
   <label>
          <input name="pic" type="radio" value="книги">
          <img height="140" src="https://kidwelcome.ru/userfiles/images/books228577dtg3.jpg" width="150">
    </label>
     <p></p>
    <p><input type="submit" value="подтвердить"/></p>
</form>
